@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: var(--bg-page);
}

html {
    overflow: hidden;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.titlebar {
  min-height: 42px;
  justify-content: space-between;
}

.toolbar {
  background: var(--bg-toolbar);
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 10px;
  border-bottom: 2px solid #52585D;
}

.toolbar_icon {
  color: #52585D;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.toolbar_icon_enabled {
  color: #8F969C;
  cursor: pointer;
  transition: 0.25s;
}
.toolbar_icon_enabled:hover {
  color: #bfc9d1;
  transform: scale(1.08);
}

.toolbar_icon_enabled:active {
  transform: scale(0.9);
  transition: 0.1s;
}
.main_screen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-start; */
  padding-left: 8px;
  padding-top: 1px;
  gap: 10px;
  overflow: hidden;
  overflow-x: auto;
}

.tabbar::-webkit-scrollbar {
  display: none;
}

.tabbar_container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.tab_button {
  -webkit-app-region: no-drag;
}

.tab {
  max-width: 200px;
  min-width: 0;
  width: 0;
  height: 70%;
  background: var(--bg-tab-active);
  border-radius: 3px;
  transition: 0.5s;
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;
  flex-shrink: 5;
  container-type: inline-size;
  border: 1px solid var(--tab-border-color);
  opacity: 1;
}

.tab_animation {
  animation: expandOnce 400ms ease-out forwards;
}

.tab_animation_close {
  animation: shrinkOnce 200ms ease-out forwards;
  padding: 0 !important;
}

@keyframes expandOnce {
  to {
    width: 200px;
    min-width: 20px;
  }
}

@keyframes shrinkOnce {
  to {
    width: 0;
    margin-left: -10px;
    opacity: 0;
  }
}

.tab:hover {
  cursor: pointer;
}

.tab:first-child {
  border-top-left-radius: 7px;
}

.tab:last-child {
  border-top-right-radius: 7px;
}

.tab_disabled {
  background: var(--bg-tab-disabled);
  border: none;
}

.tab_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  color: var(--tab-text-color);
  align-items: center;
  display: flex;
  font-size: 15px;
  margin-right: 20px;
}

.tab_disabled .tab_text {
  color: var(--tab-text-color-disabled);
}

.tab_left {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  flex: 1;
}

.tab_icon {
  align-items: center;
  display: flex;
}

.tab_close_container {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--tab-close-fill);
  transition: 0.25s;
  position: absolute;
  top: 5px;
  right: 5px;
}

.tab_close_container:hover {
  background: #73737324;
  fill: var(--tab-close-hover-fill);
}

.tab_close_container:active {
  scale: 0.8;
  fill: var(--tab-close-active-fill);
}

/* Always display the close container when needed */
.tab .tab_close_container {
  display: flex;
}

/* Hide when tab is small AND disabled */
@container (max-width: 40px) {
  .tab.tab_disabled .tab_close_container {
      display: none;
  }
  .tab:not(.tab_disabled) .tab_left {
    display: none;
  }
  .tab_text {
    display: none;
  }
}

/* favicon test */

.tab_spinner {
  width: 18px;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.tab_spinner_circle {
  fill: none;
  stroke: var(--tab-spinner-stroke);
  stroke-width: 5;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

.drag_space {
  height: 100%;
  width: 50px;
  -webkit-app-region: drag;
}



.toolbar_searchbar_container {
  position: relative;
  width: 100%;
}
.toolbar_searchbar_container .toolbar_searchbar, .toolbar_searchbar_container .searchbar_highlight {
  font-family: "Inter";
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  padding: 2px;
  box-sizing: border-box;
  overflow: hidden;
  font-feature-settings: "calt" off;
}
.toolbar_searchbar_container .toolbar_searchbar {
  width: 100%;
  caret-color: #7C7C7C;
  color: transparent;
  background: transparent;
}
.toolbar_searchbar_container .searchbar_highlight {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 31px;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: #A9A9A9;
  z-index: 1;
}

.toolbar_searchbar {
  z-index: 2;
  position: relative;
  height: 31px;
}

/* Extra styling */
.searchbar_proto {
  color: #7C7C7C;
}
.searchbar_port {
  color: #dca86d;
}
.searchbar_path {
  color: #7C7C7C;
}



.toolbar_searchbar:focus {
  border: none;
  outline: none;
}

.toolbar_searchbar {
  border: none;
}

.toolbar_searchbar_components:has(#toolbar_searchbar:focus) {
  background: #292f35;
}

.toolbar_searchbar_components {
  width: 100%;
  background: #1B1F23;
  border: 2px solid #52585D;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.toolbar_searchbar_components:hover {
  background: #292f35;
}

.toolbar_icon_sidebar {
  width: 28px;
  height: 28px;
}

.toolbar_icon_home {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.toolbar_icon_historyback {
  width: 24px;
  height: 24px;
}

.toolbar_icon_historyforward {
  width: 24px;
  height: 24px;
  margin-left: -12px;
}

.toolbar_icon_downloads {
  width: 32px;
  height: 32px;
}
.toolbar_icon_options {
  width: 32px;
  height: 32px;
}

.searchbar_icon {
  color: #52585D;
  width: 34px;
  height: 32px;
  margin-top: -1px;
  margin-right: -3px;
}

.tab_button {
  background: #2F3337;
  border: none;
  min-width: 23px;
  height: 23px;
  border-radius: 4px;
  color: #6b6b6b;
  font-size: 18px;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.tab_button:hover {
  background: #484e54;
  transform: scale(1.08);
}
.tab_button:active {
  transform: scale(0.9);
  transition: 0.1s;
}


.web_display {
  position: relative;
  width: 100%;
  height: 100%;
}
.web_view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  outline: none;
  border: none;
}
.web_view_hidden {
  display: none;
}

.devtools_editor {
  height: 100%;
  width:  100%;
}

.display_section {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #323539;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.dev_tools {
  display: flex;
  flex-direction: column;
}

.dev_tools_elems {
  display: flex;
  gap: 7px;
  padding: 5px;
}

.dev_tools_menu {
  display: flex;
  justify-content: space-between;
  background: #272A2D;
  border-bottom: 2px solid #52585D;
  display: flex;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
}
.dev_tools_elem {
  color: #A7ADB2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

.dev_tools_elem:hover {
  background: #d9d9d91b;
  border-radius: 5px;
}

.dev_content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dev_tools_content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.dev_size_indicator {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 13px;
  background: #ffffff85;
  padding: 3px;
  color: #202020;
  z-index: 3;
}


.progress_bar_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress_bar {
  background: rgb(0, 123, 255);
  height: 2px;
  width: 20%;
  margin-top: -3px;
  margin-left: 5px;
  margin-right: 5px;
}