@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: var(--bg-page);
}
  
html {
    overflow: hidden;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}
  
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.titlebar {
  height: 42px;
  justify-content: space-between;
}

.toolbar {
  background: var(--bg-toolbar);
  height: 48px;
}

.main_screen {
  display: flex;
  flex-direction: column;
}

.tabbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-start; */
  padding-left: 8px;
  padding-top: 1PX;
  gap: 10px;
  overflow: hidden;
}

.tab {
  max-width: 200px;
  min-width: 20px;
  width: 200px;
  height: 70%;
  background: var(--bg-tab-active);
  border-radius: 3px;
  transition: border-radius 0.5s;
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;
  flex-shrink: 5;
  justify-content: space-between;
  container-type: inline-size;
  border: 1px solid #438fb3;
}
.tab:hover {
  cursor:pointer;
}
.tab:first-child {
  border-top-left-radius: 7px;
}
.tab:last-child {
  border-top-right-radius: 7px;
}



.tab-disabled {
  background: var(--bg-tab-disabled);
  border: none;
}

.tab_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  color: #9d9d9d;
  align-items: center;
  display: flex;
  font-size: 15px;
}

.tab-disabled .tab_text {
  color: #6f6f6f;
}

.tab_left {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.tab_icon {
  align-items: center;
  display: flex;
}

.tab_close_container {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #6b6b6b;
  transition: 0.25s;
}
.tab_close_container:hover {
  background: #73737324;
  fill: #989898;
}
.tab_close_container:active {
  scale: 0.8;
  fill: #ffffff;
}
@container (max-width: 50px) {
    .tab_close_container {
      display: none;
    }
    /* this dont work */
    .tab:hover + .tab_close_container{
      display: block;
  }
}

/* favicon test */

.tab_spinner {
  width: 18px;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }
 
 .tab_spinner_circle {
  fill: none;
  stroke: #438fb3;
  stroke-width: 5;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }


 .drag_space {
  height: 100%;
  width: 50px;
  -webkit-app-region: drag;
 }