@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  background-color: var(--bg-page);
}

html {
  overflow: hidden;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.titlebar {
  min-height: 42px;
  justify-content: space-between;
}

.toolbar {
  background: var(--bg-toolbar);
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  border-bottom: 2px solid var(--border-toolbar);
}

.toolbar_icon {
  color: var(--toolbar-icon-color);
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: fit-content;
}

.toolbar_icon_enabled {
  color: var(--toolbar-icon-enabled-color);
  cursor: pointer;
  transition: 0.25s;
}

.toolbar_icon_enabled:hover {
  color: var(--toolbar-icon-enabled-hover);
  transform: scale(1.08);
}

.toolbar_icon_enabled:active {
  transform: scale(0.9);
  transition: 0.1s;
}

.main_screen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabbar {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  padding-top: 1px;
  gap: 10px;
  overflow-x: auto;
}

.tabbar::-webkit-scrollbar {
  display: none;
}

.tabbar_container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.tab_button {
  -webkit-app-region: no-drag;
}

.tab {
  max-width: 200px;
  min-width: 0;
  width: 0;
  height: 70%;
  background: var(--bg-tab-active);
  border-radius: 3px;
  transition: 0.5s;
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 5px;
  flex-shrink: 5;
  container-type: inline-size;
  border: 1px solid var(--tab-border-color);
  opacity: 1;
}

.tab_animation {
  animation: expandOnce 400ms ease-out forwards;
}

.tab_animation_close {
  animation: shrinkOnce 200ms ease-out forwards;
  padding: 0 !important;
}

@keyframes expandOnce {
  to {
    width: 200px;
    min-width: 20px;
  }
}

@keyframes shrinkOnce {
  to {
    width: 0;
    margin-left: -10px;
    opacity: 0;
  }
}

.tab:hover {
  cursor: pointer;
}

.tab:first-child {
  border-top-left-radius: 7px;
}

.tab:last-child {
  border-top-right-radius: 7px;
}

.tab_disabled {
  background: var(--bg-tab-disabled);
  border: none;
}

.tab_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  color: var(--tab-text-color);
  align-items: center;
  display: flex;
  font-size: 15px;
  margin-right: 20px;
}

.tab_disabled .tab_text {
  color: var(--tab-text-color-disabled);
}

.tab_left {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  flex: 1;
}

.tab_icon {
  align-items: center;
  display: flex;
}

.tab_close_container {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--tab-close-fill);
  transition: 0.25s;
  position: absolute;
  top: 5px;
  right: 5px;
}

.tab_close_container:hover {
  background: var(--tab-hover-bg);
  fill: var(--tab-close-hover-fill);
}

.tab_close_container:active {
  scale: 0.8;
  fill: var(--tab-close-active-fill);
}

.tab .tab_close_container {
  display: flex;
}

@container (max-width: 40px) {
  .tab.tab_disabled .tab_close_container {
    display: none;
  }
  .tab:not(.tab_disabled) .tab_left {
    display: none;
  }
  .tab_text {
    display: none;
  }
}

.tab_spinner {
  width: 18px;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.tab_spinner_circle {
  fill: none;
  stroke: var(--tab-spinner-stroke);
  stroke-width: 5;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

.drag_space {
  height: 100%;
  width: 50px;
  -webkit-app-region: drag;
}

.toolbar_searchbar_container {
  position: relative;
  width: 100%;
}

.toolbar_searchbar_container .toolbar_searchbar,
.toolbar_searchbar_container .searchbar_highlight {
  font-family: "Inter";
  font-size: 15px;
  line-height: 1.5;
  white-space: pre;
  padding: 2px;
  box-sizing: border-box;
  overflow: hidden;
  font-feature-settings: "calt" off;
}

.toolbar_searchbar_container .toolbar_searchbar {
  width: 100%;
  caret-color: var(--searchbar-color);
  color: transparent;
  background: transparent;
}

.toolbar_searchbar_container .searchbar_highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 31px;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: var(--searchbar-highlight);
  z-index: 1;
}

.toolbar_searchbar {
  z-index: 2;
  position: relative;
  height: 31px;
}

.searchbar_proto {
  color: var(--searchbar-color);
}
.searchbar_port {
  color: var(--searchbar-port);
}
.searchbar_path {
  color: var(--searchbar-path);
}

.toolbar_searchbar:focus {
  border: none;
  outline: none;
}

.toolbar_searchbar {
  border: none;
}

.toolbar_searchbar_components:has(#toolbar_searchbar:focus),
.toolbar_searchbar_components:hover {
  background: var(--searchbar-focus-bg);
}

.toolbar_searchbar_components {
  width: 100%;
  background: var(--searchbar-bg);
  border: 2px solid var(--border-toolbar);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}


.searchbar_icon {
  color: var(--toolbar-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
}

.tab_button {
  background: var(--tab-button-bg);
  border: var(--tab-button-border);
  min-width: 23px;
  height: 23px;
  border-radius: 4px;
  color: var(--tab-button-color);
  font-size: 18px;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.tab_button:hover {
  background: var(--tab-button-hover-bg);
  transform: scale(1.08);
}

.tab_button:active {
  transform: scale(0.9);
  transition: 0.1s;
}

.web_display {
  position: relative;
  width: 100%;
  height: 100%;
}

.web_view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  outline: none;
  border: none;
}

.web_view_hidden {
  display: none;
}

.devtools_editor {
  height: 100%;
  width: 100%;
}

.display_section {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: var(--drag-space-bg);
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all 0.25s cubic-bezier(0.985, -0.624, 0.613, 1.039) !important;
  width: 10px;
}
.gutter:hover {
  width: 15px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCA1LjEuNBLfpoMAAAC2ZVhJZklJKgAIAAAABQAaAQUAAQAAAEoAAAAbAQUAAQAAAFIAAAAoAQMAAQAAAAIAAAAxAQIAEAAAAFoAAABphwQAAQAAAGoAAAAAAAAAYAAAAAEAAABgAAAAAQAAAFBhaW50Lk5FVCA1LjEuNAADAACQBwAEAAAAMDIzMAGgAwABAAAAAQAAAAWgBAABAAAAlAAAAAAAAAACAAEAAgAEAAAAUjk4AAIABwAEAAAAMDEwMAAAAADX5rshveZftAAAAD9JREFUKFNj3LVrlx8DA8NsIBYD4ldAnMaEJAACIHoWSBAmAANiIEEMMCqIBkaQICj9IIPXIMEMEAPMBdMMGQAfvgrBWHZBzQAAAABJRU5ErkJggg==') !important;
  cursor: w-resize !important;
}

.gutter:active {
  width: 12px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCA1LjEuNBLfpoMAAAC2ZVhJZklJKgAIAAAABQAaAQUAAQAAAEoAAAAbAQUAAQAAAFIAAAAoAQMAAQAAAAIAAAAxAQIAEAAAAFoAAABphwQAAQAAAGoAAAAAAAAAYAAAAAEAAABgAAAAAQAAAFBhaW50Lk5FVCA1LjEuNAADAACQBwAEAAAAMDIzMAGgAwABAAAAAQAAAAWgBAABAAAAlAAAAAAAAAACAAEAAgAEAAAAUjk4AAIABwAEAAAAMDEwMAAAAADX5rshveZftAAAAD9JREFUKFNj3LVrlx8DA8NsIBYD4ldAnMaEJAACIHoWSBAmAANiIEEMMCqIBkaQICj9IIPXIMEMEAPMBdMMGQAfvgrBWHZBzQAAAABJRU5ErkJggg==') !important;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCA1LjEuNBLfpoMAAAC2ZVhJZklJKgAIAAAABQAaAQUAAQAAAEoAAAAbAQUAAQAAAFIAAAAoAQMAAQAAAAIAAAAxAQIAEAAAAFoAAABphwQAAQAAAGoAAAAAAAAAYAAAAAEAAABgAAAAAQAAAFBhaW50Lk5FVCA1LjEuNAADAACQBwAEAAAAMDIzMAGgAwABAAAAAQAAAAWgBAABAAAAlAAAAAAAAAACAAEAAgAEAAAAUjk4AAIABwAEAAAAMDEwMAAAAADX5rshveZftAAAAD9JREFUKFNjLCiv9WNgYJgNxGJA/AqI05iQBEAARM8CCcIEYEAMJIgBRgXRwAgSBKUfZPAaJJgBYoC5YJohAwAwCwn33bgn4AAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.dev_tools {
  display: flex;
  flex-direction: column;
}

.dev_tools_elems {
  display: flex;
  gap: 7px;
  padding: 5px;
}

.dev_tools_menu {
  display: flex;
  justify-content: space-between;
  background: var(--devtools-bg);
  border-bottom: 2px solid var(--border-toolbar);
  align-items: center;
  padding: 0 7px;
}

.dev_tools_elem {
  color: var(--tab-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

.dev_tools_elem:hover {
  background: var(--devtools-elem-hover-bg);
  border-radius: 5px;
}

.dev_content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--dev-panel-bg);
}

.dev_tools_content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.dev_size_indicator {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 13px;
  background: var(--devtools-size-indicator-bg);
  padding: 3px;
  color: var(--devtools-size-indicator-color);
  z-index: 3;
}

.progress_bar_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.dev_network_table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dev_network_table_element {
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dev-network-gutter {
  background: var(--dev-network-gutter-bg);
  width: 3px !important;
  transition: all 0.25s cubic-bezier(0.985, -0.624, 0.613, 1.039) !important;
}

.dev-network-gutter:hover {
  width: 7px !important;
  background: var(--dev-network-hover-gutter-bg);
}

.dev-network-gutter:active {
  width: 7px !important;
  background: var(--dev-network-hover-gutter-bg);
}

.dev_network_element_header {
  background: var(--dev-network-element-header-bg);
    color: #747781;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #3C4348;
}

.dev-network-gutter::before {
  content: '';
  width: 20px;
  height: 20px;
  z-index: -1; /* So it doesn't block interactions */
}

.dev_network_element_value {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #A3A3A3;
  font-size: 14px;
}
.dev_network_element_value:nth-child(odd) {
  background-color: #2D3742;
}

.dev_network_element_value:nth-child(even) {
  background-color: #384653;
}

.extensions_field {
  background: #3C4248;
  height: 28px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 6px;
  border: 2px solid #52585D;
  display: flex;
  align-items: center;
  justify-content: center;
}