
:root {
  --bg-page: #1B1F23;
  --bg-titlebar: transparent;
  --color-windows-controls: #878787;

  --bg-toolbar: #2F3337;
  --bg-tab-active: #2F3337;
  --bg-tab-disabled: #2f333761;
  --tab-border-color: var(--highlight-color-1);
  --tab-text-color: #9d9d9d;
  --tab-text-color-disabled: #6f6f6f;
  --tab-close-fill: #6b6b6b;
  --tab-close-hover-fill: #989898;
  --tab-close-active-fill: #ffffff;
  --tab-spinner-stroke: var(--highlight-color-1);

  --border-toolbar: #52585D;
  --toolbar-icon-color: #52585D;
  --toolbar-icon-enabled-color: #8F969C;
  --toolbar-icon-enabled-hover: #bfc9d1;

  --tab-hover-bg: #73737324;
  --drag-space-bg: #323539;

  --devtools-bg: #272A2D;
  --devtools-elem-hover-bg: #d9d9d91b;
  --devtools-size-indicator-bg: #ffffff85;
  --devtools-size-indicator-color: #202020;

  --searchbar-color: #7C7C7C;
  --searchbar-port: #dca86d;
  --searchbar-path: #7C7C7C;
  --searchbar-highlight: #A9A9A9;
  --searchbar-focus-bg: #292f35;
  --searchbar-bg: #1B1F23;

  --tab-button-bg: #2F3337;
  --tab-button-hover-bg: #484e54;
  --tab-button-color: #6b6b6b;
  --tab-button-border: none;

  --dev-network-gutter-bg: #595f66;
  --dev-network-hover-gutter-bg: #747c85;
  --dev-network-element-header-bg: #272A2D;

  --dev-panel-bg: #1b1f24;
}